# Entorno Virtual Local
venv/
.venv/
env/

# Cachés de Python y de Pruebas
__pycache__/
.pytest_cache/
.密/
*.pyc
*.pyo
*.pyd

# ARTEFACTOS DE ML (Requisito del profesor: No subirlos al repo)
*.onnx
*.pkl
*.joblib
*.csv
*.h5

# OBSERVABILIDAD / LOGS LOCALES
*.txt
*.log

# Archivos ocultos del Sistema Operativo
.DS_Store
Thumbs.db